// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
@main-color: brown;
@background: cornsilk;
@font-family: Papyrus, fantasy;

.sectiontitle() {
  font-size: 1.5rem;
  padding-bottom: 10px;
  font-weight: bold;
  color: @main-color;
}

.maxflexibility() {
  width: 100%;
  display: flex;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-size: 62.5%;
  width: 100%;
  max-width: 1000px;
  // border: 2px solid brown;
  background: #fff;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15), 0 -10px 0 -5px burlywood,
    0 -10px 1px -4px rgba(0, 0, 0, 0.15), 0 -20px 0 -10px peru,
    0 -20px 1px -9px rgba(0, 0, 0, 0.15);
  padding: 15px 15px 0 15px;
  background: cornsilk;
  font-family: Papyrus, fantasy;
}

.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

header {
  .maxflexibility;
  margin: auto;
}

.profile-picture {
  .maxflexibility;
}

header nav {
  width: 600px;
  display: flex;
  align-content: center;
  margin: 10px 10px 10px 25px;
  justify-content: space-evenly;
}

header nav a {
  font-size: 1.7rem;
  text-decoration: none;
  color: brown;
}

header nav a:hover {
  text-decoration: underline;
  color: blue;
}

h1 {
  margin: 10px 10px 10px 10px;
  font-size: 3rem;
  color: brown;
}

.freelance {
  display: flex;
}

.freelance-text {
  display: flex;
  flex-direction: wrap;
  font-size: 2rem;
  padding-top: 5%;
  padding-bottom: 5%;
}
p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

button {
  background: brown;
  color: cornsilk;
  font-family: Papyrus, fantasy;
  margin-top: 8px;
  padding: 15px;
  font-size: 1.5rem;
  border: 2px solid black;
  cursor: pointer;
}

button:hover {
  background: burlywood;
  color: brown;
  border: 2px solid brown;
}

.mid-content {
  padding-top: 15px;
  display: flex;
}
.text-content {
  width: 100%;
  flex-direction: row;
  margin-right: 15px;
  margin-top: 15px;
  justify-content: space-between;
  margin-left: 15px;
}

h2 {
  .sectiontitle;
  display: flex;
}

p {
  display: flex;
  line-height: 1.5;
}
// Mobile Version

@media (max-width: 500px) {
  header {
    flex-direction: row;
    align-items: center;
  }

  header nav {
    flex-direction: column;
  }

  header nav a {
    .maxflexibility;
    font-size: 1.5rem;
    flex-direction: column;
    text-align: center;
    margin: 10px 10px 10px 10px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .image-wrapper {
    .maxflexibility;
    flex-direction: column;
    align-content: center;
  }

  .profile-picture {
    width: 55%;
    margin-bottom: 20px;
  }

  .mid-content {
    width: 70%;
    display: flex;
		flex-direction: column;
		padding: 10px 0px 20px 0px;
  }
  .text-content p {
    align-content: center;
    font-size: 8px;
  }
}
// End Mobile Version

.mid-content .text-content p {
  display: flex;
  font-size: 1.4rem;
}

h3 {
  .sectiontitle;
}

table {
  width: 100%;
  text-align: left;
  justify-content: space-between;
}

th {
  font-weight: bolder;
  text-decoration: underline;
  font-size: 1.1rem;
  padding: 8px 0 8px 0;
}
